@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@theme {
  /* Background & Foreground */
  --color-background: light-dark(oklch(1 0 0), oklch(0.145 0 0));
  --color-foreground: light-dark(oklch(0.145 0 0), oklch(0.985 0 0));

  /* Card */
  --color-card: light-dark(oklch(1 0 0), oklch(0.205 0 0));
  --color-card-foreground: light-dark(oklch(0.145 0 0), oklch(0.985 0 0));

  /* Popover */
  --color-popover: light-dark(oklch(1 0 0), oklch(0.205 0 0));
  --color-popover-foreground: light-dark(oklch(0.145 0 0), oklch(0.985 0 0));

  /* Primary */
  --color-primary: oklch(66.574% 0.2147 144.184);
  --color-primary-foreground: light-dark(oklch(0.985 0 0), oklch(0.205 0 0));

  /* Secondary */
  --color-secondary: light-dark(oklch(0.97 0 0), oklch(0.269 0 0));
  --color-secondary-foreground: light-dark(oklch(0.205 0 0), oklch(0.985 0 0));

  /* Muted */
  --color-muted: light-dark(oklch(0.97 0 0), oklch(0.269 0 0));
  --color-muted-foreground: light-dark(oklch(0.556 0 0), oklch(0.708 0 0));

  /* Accent */
  --color-accent: light-dark(oklch(0.97 0 0), oklch(0.269 0 0));
  --color-accent-foreground: light-dark(oklch(0.205 0 0), oklch(0.985 0 0));

  /* Destructive */
  --color-destructive: light-dark(oklch(0.577 0.245 27.325), oklch(0.704 0.191 22.216));

  /* Border & Input */
  --color-border: light-dark(oklch(0.922 0 0), oklch(1 0 0 / 10%));
  --color-input: light-dark(oklch(0.922 0 0), oklch(1 0 0 / 15%));
  --color-ring: light-dark(oklch(0.708 0 0), oklch(0.556 0 0));

  /* Radius */
  --radius-sm: calc(0.625rem - 4px);
  --radius-md: calc(0.625rem - 2px);
  --radius-lg: 0.625rem;
  --radius-xl: calc(0.625rem + 4px);
  --radius-2xl: calc(0.625rem + 8px);
  --radius-3xl: calc(0.625rem + 12px);
  --radius-4xl: calc(0.625rem + 16px);
}

:root {
  color-scheme: light;
  --delete-button: oklch(91.279% 0.0001 271.152);
  --delete-button-hover: oklch(91.435% 0.00215 14.53);
  --post-grid: oklch(92.797% 0.00011 271.152 / 0.863);
}

.dark {
  color-scheme: dark;
  --delete-button: oklch(51.028% 0.00006 271.152);
  --delete-button-hover: oklch(23.929% 0.00003 271.152);
  --post-grid: oklch(22.213% 0.00003 271.152);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
